<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="/javascripts/jquery-1.11.2.min.js"></script>
      <script src="/javascripts/ejs.min.js"></script>
      <script src="/javascripts/main.js"></script>
  </head>
  <body>
  <span>длина сообщения</span><input id="messageLength" type="text">
  <span>интервал</span><input id="time" type="number">
  </body>
</html>
