<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/ejs.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
  <div class="messageZone">
    <% include ../views/partials/header %>
    <div class="messages">
    </div>
    <form id="messageForm" method="post" action="/sendMessage">
        <input class="text" type="text" name="login" value="Введите логин">
        <input class="text" type="text" name="message" value="Введите сообщение">
        <input class="button" type="submit">
    </form>
      </div>
    <div class="statisticArea">
        <label>Время выполнения запроса:</label><h1 id="time"></h1>
        <label>Количество запросов в секунду:</label><h1 id="count"></h1>
    </div>
  </body>
</html>
